<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.BillrecordMapper">

    <resultMap type="com.rzx.project.domain.Billrecord" id="BillrecordResult">
        <result property="billrecordId"    column="billrecord_id"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="type"    column="type"    />
        <result property="upName"    column="up_name"    />
        <result property="email"    column="email"    />
        <result property="taxNumber"    column="tax_number"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="companyPhone"    column="company_phone"    />
        <result property="openBank"    column="open_bank"    />
        <result property="accountBank"    column="account_bank"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBillrecordVo">
        select billrecord_id, bill_status, type, up_name, email, tax_number, company_address, company_phone, open_bank, account_bank, create_time, update_time from rzx_billrecord
    </sql>

    <select id="selectBillrecordList" parameterType="com.rzx.project.domain.Billrecord" resultMap="BillrecordResult">
        <include refid="selectBillrecordVo"/>
        <where>
            <if test="billStatus != null  and billStatus != ''"> and bill_status = #{billStatus}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="upName != null  and upName != ''"> and up_name like concat('%', #{upName}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="taxNumber != null  and taxNumber != ''"> and tax_number = #{taxNumber}</if>
            <if test="companyAddress != null  and companyAddress != ''"> and company_address = #{companyAddress}</if>
            <if test="companyPhone != null  and companyPhone != ''"> and company_phone = #{companyPhone}</if>
            <if test="openBank != null  and openBank != ''"> and open_bank = #{openBank}</if>
            <if test="accountBank != null  and accountBank != ''"> and account_bank = #{accountBank}</if>
        </where>
    </select>

    <select id="selectBillrecordById" parameterType="String" resultMap="BillrecordResult">
        <include refid="selectBillrecordVo"/>
        where billrecord_id = #{billrecordId}
    </select>


    <update id="updateBillrecord" parameterType="com.rzx.project.domain.Billrecord">
        update rzx_billrecord
        <trim prefix="SET" suffixOverrides=",">
            <if test="billStatus != null">bill_status = #{billStatus},</if>
            <if test="type != null">type = #{type},</if>
            <if test="upName != null">up_name = #{upName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="taxNumber != null">tax_number = #{taxNumber},</if>
            <if test="companyAddress != null">company_address = #{companyAddress},</if>
            <if test="companyPhone != null">company_phone = #{companyPhone},</if>
            <if test="openBank != null">open_bank = #{openBank},</if>
            <if test="accountBank != null">account_bank = #{accountBank},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where billrecord_id = #{billrecordId}
    </update>

    <delete id="deleteBillrecordById" parameterType="String">
        delete from rzx_billrecord where billrecord_id = #{billrecordId}
    </delete>

    <delete id="deleteBillrecordByIds" parameterType="String">
        delete from rzx_billrecord where billrecord_id in
        <foreach item="billrecordId" collection="array" open="(" separator="," close=")">
            #{billrecordId}
        </foreach>
    </delete>
</mapper>
