<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.CommodityConfigMapper">

    <resultMap type="com.rzx.project.model.domain.CommodityConfig" id="CommodityConfigResult">
        <result property="commodityconfigId"    column="commodityconfig_id"    />
        <result property="commodityCode"    column="commodity_code"    />
        <result property="commodityName"    column="commodity_name"    />
        <result property="brand"    column="brand"    />
        <result property="model"    column="model"    />
        <result property="thumbnailImage"    column="thumbnail_image"    />
        <result property="image"    column="image"    />
        <result property="imageUrls"    column="image_urls"    />
        <result property="commodityExplain"    column="commodity_explain"    />
        <result property="amount"    column="amount"    />
        <result property="provid"    column="provid"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productCate"    column="product_cate"    />
        <result property="productPlace"    column="product_place"    />
        <result property="saleStatus"    column="sale_status"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="retailAmount"    column="retail_amount"    />
        <result property="isToReturn"    column="is_to_return"    />
        <result property="giftpackageId"    column="giftpackage_id"    />
        <result property="chooseFlag"    column="choose_flag"    />
        <result property="weight"    column="weight"    />
        <result property="size"    column="size"    />
        <result property="typeId"    column="type_id"    />
        <result property="providSource"    column="provid_source"    />
        <result property="rate"    column="rate"    />
        <result property="gxGiftpackageId"    column="gx_giftpackage_id"    />
        <result property="gxChooseFlag"    column="gx_choose_flag"    />
        <result property="gxAmount"    column="gx_amount"    />
    </resultMap>

    <sql id="selectCommodityConfigVo">
        select commodityconfig_id, commodity_code, commodity_name, brand, model, thumbnail_image, image, image_urls, commodity_explain, amount, provid, status, create_time, update_time, product_cate, product_place, sale_status, market_price, retail_amount, is_to_return, giftpackage_id, choose_flag, weight, size, type_id, provid_source, rate from rzx_commodity_config
    </sql>

    <select id="selectCommodityConfigList" parameterType="com.rzx.project.model.domain.CommodityConfig" resultMap="CommodityConfigResult">
        <include refid="selectCommodityConfigVo"/>
        <where>
            <if test="commodityCode != null  and commodityCode != ''"> and commodity_code = #{commodityCode}</if>
            <if test="commodityName != null  and commodityName != ''"> and commodity_name like concat('%', #{commodityName}, '%')</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="thumbnailImage != null  and thumbnailImage != ''"> and thumbnail_image = #{thumbnailImage}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="imageUrls != null  and imageUrls != ''"> and image_urls = #{imageUrls}</if>
            <if test="commodityExplain != null  and commodityExplain != ''"> and commodity_explain = #{commodityExplain}</if>
            <if test="amount != null  and amount != ''"> and amount = #{amount}</if>
            <if test="provid != null  and provid != ''"> and provid = #{provid}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="productCate != null  and productCate != ''"> and product_cate = #{productCate}</if>
            <if test="productPlace != null  and productPlace != ''"> and product_place = #{productPlace}</if>
            <if test="saleStatus != null  and saleStatus != ''"> and sale_status = #{saleStatus}</if>
            <if test="marketPrice != null  and marketPrice != ''"> and market_price = #{marketPrice}</if>
            <if test="retailAmount != null  and retailAmount != ''"> and retail_amount = #{retailAmount}</if>
            <if test="isToReturn != null  and isToReturn != ''"> and is_to_return = #{isToReturn}</if>
            <if test="giftpackageId != null  and giftpackageId != ''"> and giftpackage_id = #{giftpackageId}</if>
            <if test="chooseFlag != null  and chooseFlag != ''"> and choose_flag = #{chooseFlag}</if>
            <if test="weight != null  and weight != ''"> and weight = #{weight}</if>
            <if test="size != null  and size != ''"> and size = #{size}</if>
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="providSource != null  and providSource != ''"> and provid_source = #{providSource}</if>
            <if test="rate != null  and rate != ''"> and rate = #{rate}</if>
            <if test="gxGiftpackageId != null  and gxGiftpackageId != ''"> and gx_giftpackage_id = #{gxGiftpackageId}</if>
            <if test="gxChooseFlag != null  and gxChooseFlag != ''"> and gx_choose_flag = #{gxChooseFlag}</if>
            <if test="gxAmount != null  and gxAmount != ''"> and gx_amount = #{gxAmount}</if>
        </where>
    </select>

    <select id="selectCommodityConfigById" parameterType="String" resultMap="CommodityConfigResult">
        <include refid="selectCommodityConfigVo"/>
        where commodityconfig_id = #{commodityconfigId}
    </select>


    <update id="updateCommodityConfig" parameterType="com.rzx.project.model.domain.CommodityConfig">
        update rzx_commodity_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="commodityCode != null">commodity_code = #{commodityCode},</if>
            <if test="commodityName != null">commodity_name = #{commodityName},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="model != null">model = #{model},</if>
            <if test="thumbnailImage != null">thumbnail_image = #{thumbnailImage},</if>
            <if test="image != null">image = #{image},</if>
            <if test="imageUrls != null">image_urls = #{imageUrls},</if>
            <if test="commodityExplain != null">commodity_explain = #{commodityExplain},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="provid != null">provid = #{provid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="productCate != null">product_cate = #{productCate},</if>
            <if test="productPlace != null">product_place = #{productPlace},</if>
            <if test="saleStatus != null">sale_status = #{saleStatus},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="retailAmount != null">retail_amount = #{retailAmount},</if>
            <if test="isToReturn != null">is_to_return = #{isToReturn},</if>
            <if test="giftpackageId != null">giftpackage_id = #{giftpackageId},</if>
            <if test="chooseFlag != null">choose_flag = #{chooseFlag},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="size != null">size = #{size},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="providSource != null">provid_source = #{providSource},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="gxGiftpackageId != null">gx_giftpackage_id = #{gxGiftpackageId},</if>
            <if test="gxChooseFlag != null">gx_choose_flag = #{gxChooseFlag},</if>
            <if test="gxAmount != null">gx_amount = #{gxAmount},</if>
        </trim>
        where commodityconfig_id = #{commodityconfigId}
    </update>

    <delete id="deleteCommodityConfigById" parameterType="String">
        delete from rzx_commodity_config where commodityconfig_id = #{commodityconfigId}
    </delete>

    <delete id="deleteCommodityConfigByIds" parameterType="String">
        delete from rzx_commodity_config where commodityconfig_id in
        <foreach item="commodityconfigId" collection="array" open="(" separator="," close=")">
            #{commodityconfigId}
        </foreach>
    </delete>
</mapper>
