<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.ComOrderInfoMapper">

    <resultMap type="com.rzx.project.domain.ComOrderInfo" id="ComOrderInfoResult">
        <result property="comsalesorderId"    column="comsalesorder_id"    />
        <result property="comOrderId"    column="com_order_id"    />
        <result property="userInfoId"    column="user_info_id"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="products"    column="products"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderNums"    column="order_nums"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectComOrderInfoVo">
        select comsalesorder_id, com_order_id, user_info_id, total_amount, products, status, create_time, update_time, order_nums, create_by, update_by from rzx_com_order_info
    </sql>

    <select id="selectComOrderInfoList" parameterType="com.rzx.project.domain.ComOrderInfo" resultMap="ComOrderInfoResult">
        <include refid="selectComOrderInfoVo"/>
        <where>
            <if test="comOrderId != null  and comOrderId != ''"> and com_order_id = #{comOrderId}</if>
            <if test="userInfoId != null  and userInfoId != ''"> and user_info_id = #{userInfoId}</if>
            <if test="totalAmount != null  and totalAmount != ''"> and total_amount = #{totalAmount}</if>
            <if test="products != null  and products != ''"> and products = #{products}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="orderNums != null  and orderNums != ''"> and order_nums = #{orderNums}</if>
        </where>
    </select>

    <select id="selectComOrderInfoById" parameterType="String" resultMap="ComOrderInfoResult">
        <include refid="selectComOrderInfoVo"/>
        where comsalesorder_id = #{comsalesorderId}
    </select>


    <update id="updateComOrderInfo" parameterType="com.rzx.project.domain.ComOrderInfo">
        update rzx_com_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="comOrderId != null">com_order_id = #{comOrderId},</if>
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="products != null">products = #{products},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="orderNums != null">order_nums = #{orderNums},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where comsalesorder_id = #{comsalesorderId}
    </update>

    <delete id="deleteComOrderInfoById" parameterType="String">
        delete from rzx_com_order_info where comsalesorder_id = #{comsalesorderId}
    </delete>

    <delete id="deleteComOrderInfoByIds" parameterType="String">
        delete from rzx_com_order_info where comsalesorder_id in
        <foreach item="comsalesorderId" collection="array" open="(" separator="," close=")">
            #{comsalesorderId}
        </foreach>
    </delete>
</mapper>
