<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.CouponsInfoMapper">

    <resultMap type="com.rzx.project.domain.CouponsInfo" id="CouponsInfoResult">
        <result property="couponsinfoId"    column="couponsinfo_id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="couponsPwd"    column="coupons_pwd"    />
        <result property="saleStatus"    column="sale_status"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkTime"    column="check_time"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="couponsQrcode"    column="coupons_qrcode"    />
        <result property="inSource"    column="in_source"    />
        <result property="type"    column="type"    />
        <result property="giftpackageId"    column="giftpackage_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="initAmount"    column="init_amount"    />
        <result property="saleAmount"    column="sale_amount"    />
    </resultMap>

    <sql id="selectCouponsInfoVo">
        select a.couponsinfo_id, a.batch_no, a.coupons_pwd, a.sale_status, a.check_status, a.check_time, a.status, a.create_time, a.create_by, a.update_time, a.update_by, a.coupons_qrcode, a.in_source, a.type,
            b.giftpackage_id,b.order_id,c.init_amount,c.sale_amount
        from rzx_coupons_info a
        left join rzx_order_info b on a.couponsinfo_id = b.couponsinfo_id and b.order_status='1'
        left join rzx_giftpackage_config c on  b.giftpackage_id = c.giftpackage_id
    </sql>

    <select id="selectCouponsInfoList" parameterType="com.rzx.project.domain.CouponsInfo" resultMap="CouponsInfoResult">
        <include refid="selectCouponsInfoVo"/>
        <where>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="couponsPwd != null  and couponsPwd != ''"> and coupons_pwd = #{couponsPwd}</if>
            <if test="saleStatus != null  and saleStatus != ''"> and sale_status = #{saleStatus}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="checkTime != null  and checkTime != ''"> and check_time = #{checkTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="couponsQrcode != null  and couponsQrcode != ''"> and coupons_qrcode = #{couponsQrcode}</if>
            <if test="inSource != null  and inSource != ''"> and in_source = #{inSource}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>

    <select id="selectCouponsInfoById" parameterType="String" resultMap="CouponsInfoResult">
        <include refid="selectCouponsInfoVo"/>
        where couponsinfo_id = #{couponsinfoId}
    </select>


    <update id="updateCouponsInfo" parameterType="com.rzx.project.domain.CouponsInfo">
        update rzx_coupons_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="couponsPwd != null">coupons_pwd = #{couponsPwd},</if>
            <if test="saleStatus != null">sale_status = #{saleStatus},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="couponsQrcode != null">coupons_qrcode = #{couponsQrcode},</if>
            <if test="inSource != null">in_source = #{inSource},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where couponsinfo_id = #{couponsinfoId}
    </update>

    <delete id="deleteCouponsInfoById" parameterType="String">
        delete from rzx_coupons_info where couponsinfo_id = #{couponsinfoId}
    </delete>

    <delete id="deleteCouponsInfoByIds" parameterType="String">
        delete from rzx_coupons_info where couponsinfo_id in
        <foreach item="couponsinfoId" collection="array" open="(" separator="," close=")">
            #{couponsinfoId}
        </foreach>
    </delete>
</mapper>
