<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.GiftPackageConfigMapper">

    <resultMap type="GiftPackageConfig" id="GiftPackageConfigResult">
        <result property="giftpackageId"    column="giftpackage_id"    />
        <result property="name"    column="name"    />
        <result property="explain"    column="explain"    />
        <result property="initAmount"    column="init_amount"    />
        <result property="saleAmount"    column="sale_amount"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="salloutCount"    column="sallout_count"    />
        <result property="productOrder"    column="product_order"    />
        <result property="productLogo"    column="product_logo"    />
        <result property="oneLevelIntegral"    column="one_level_integral"    />
        <result property="twoLevelIntegral"    column="two_level_integral"    />
        <result property="threeLevelIntegral"    column="three_level_integral"    />
        <result property="platformSubsidyAmt"    column="platform_subsidy_amt"    />
        <result property="expensePolicy"    column="expense_policy"    />
        <result property="martRate"    column="mart_rate"    />
        <result property="promoteRate"    column="promote_rate"    />
        <result property="manageRate"    column="manage_rate"    />
        <result property="shareRate"    column="share_rate"    />
        <result property="itRate"    column="it_rate"    />
        <result property="aShareRate"    column="a_share_rate"    />
        <result property="bShareRate"    column="b_share_rate"    />
        <result property="martType"    column="mart_type"    />
        <result property="productTaxRate"    column="product_tax_rate"    />
        <result property="martValue"    column="mart_value"    />
        <result property="partner"    column="partner"    />
    </resultMap>

    <sql id="selectGiftPackageConfigVo">
        select giftpackage_id, name, explain, init_amount, sale_amount, type, status, create_time, update_time, sallout_count, product_order, product_logo, one_level_integral, two_level_integral, three_level_integral, platform_subsidy_amt, expense_policy, mart_rate, promote_rate, manage_rate, share_rate, it_rate, a_share_rate, b_share_rate, mart_type, product_tax_rate, mart_value, partner from rzx_gift_package_config
    </sql>

    <select id="selectGiftPackageConfigList" parameterType="GiftPackageConfig" resultMap="GiftPackageConfigResult">
        <include refid="selectGiftPackageConfigVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="explain != null  and explain != ''"> and explain = #{explain}</if>
            <if test="initAmount != null  and initAmount != ''"> and init_amount = #{initAmount}</if>
            <if test="saleAmount != null  and saleAmount != ''"> and sale_amount = #{saleAmount}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="salloutCount != null  and salloutCount != ''"> and sallout_count = #{salloutCount}</if>
            <if test="productOrder != null "> and product_order = #{productOrder}</if>
            <if test="productLogo != null  and productLogo != ''"> and product_logo = #{productLogo}</if>
            <if test="oneLevelIntegral != null  and oneLevelIntegral != ''"> and one_level_integral = #{oneLevelIntegral}</if>
            <if test="twoLevelIntegral != null  and twoLevelIntegral != ''"> and two_level_integral = #{twoLevelIntegral}</if>
            <if test="threeLevelIntegral != null  and threeLevelIntegral != ''"> and three_level_integral = #{threeLevelIntegral}</if>
            <if test="platformSubsidyAmt != null  and platformSubsidyAmt != ''"> and platform_subsidy_amt = #{platformSubsidyAmt}</if>
            <if test="expensePolicy != null  and expensePolicy != ''"> and expense_policy = #{expensePolicy}</if>
            <if test="martRate != null  and martRate != ''"> and mart_rate = #{martRate}</if>
            <if test="promoteRate != null  and promoteRate != ''"> and promote_rate = #{promoteRate}</if>
            <if test="manageRate != null  and manageRate != ''"> and manage_rate = #{manageRate}</if>
            <if test="shareRate != null  and shareRate != ''"> and share_rate = #{shareRate}</if>
            <if test="itRate != null  and itRate != ''"> and it_rate = #{itRate}</if>
            <if test="aShareRate != null  and aShareRate != ''"> and a_share_rate = #{aShareRate}</if>
            <if test="bShareRate != null  and bShareRate != ''"> and b_share_rate = #{bShareRate}</if>
            <if test="martType != null  and martType != ''"> and mart_type = #{martType}</if>
            <if test="productTaxRate != null  and productTaxRate != ''"> and product_tax_rate = #{productTaxRate}</if>
            <if test="martValue != null  and martValue != ''"> and mart_value = #{martValue}</if>
            <if test="partner != null  and partner != ''"> and partner = #{partner}</if>
        </where>
    </select>

    <select id="selectGiftPackageConfigById" parameterType="String" resultMap="GiftPackageConfigResult">
        <include refid="selectGiftPackageConfigVo"/>
        where giftpackage_id = #{giftpackageId}
    </select>


    <update id="updateGiftPackageConfig" parameterType="GiftPackageConfig">
        update rzx_gift_package_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="explain != null">explain = #{explain},</if>
            <if test="initAmount != null">init_amount = #{initAmount},</if>
            <if test="saleAmount != null">sale_amount = #{saleAmount},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="salloutCount != null">sallout_count = #{salloutCount},</if>
            <if test="productOrder != null">product_order = #{productOrder},</if>
            <if test="productLogo != null">product_logo = #{productLogo},</if>
            <if test="oneLevelIntegral != null">one_level_integral = #{oneLevelIntegral},</if>
            <if test="twoLevelIntegral != null">two_level_integral = #{twoLevelIntegral},</if>
            <if test="threeLevelIntegral != null">three_level_integral = #{threeLevelIntegral},</if>
            <if test="platformSubsidyAmt != null">platform_subsidy_amt = #{platformSubsidyAmt},</if>
            <if test="expensePolicy != null">expense_policy = #{expensePolicy},</if>
            <if test="martRate != null">mart_rate = #{martRate},</if>
            <if test="promoteRate != null">promote_rate = #{promoteRate},</if>
            <if test="manageRate != null">manage_rate = #{manageRate},</if>
            <if test="shareRate != null">share_rate = #{shareRate},</if>
            <if test="itRate != null">it_rate = #{itRate},</if>
            <if test="aShareRate != null">a_share_rate = #{aShareRate},</if>
            <if test="bShareRate != null">b_share_rate = #{bShareRate},</if>
            <if test="martType != null">mart_type = #{martType},</if>
            <if test="productTaxRate != null">product_tax_rate = #{productTaxRate},</if>
            <if test="martValue != null">mart_value = #{martValue},</if>
            <if test="partner != null">partner = #{partner},</if>
        </trim>
        where giftpackage_id = #{giftpackageId}
    </update>

    <delete id="deleteGiftPackageConfigById" parameterType="String">
        delete from rzx_gift_package_config where giftpackage_id = #{giftpackageId}
    </delete>

    <delete id="deleteGiftPackageConfigByIds" parameterType="String">
        delete from rzx_gift_package_config where giftpackage_id in
        <foreach item="giftpackageId" collection="array" open="(" separator="," close=")">
            #{giftpackageId}
        </foreach>
    </delete>
</mapper>
