<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzx.project.mapper.ReceiveAddressInfoMapper">

    <resultMap type="ReceiveAddressInfo" id="ReceiveAddressInfoResult">
        <result property="receiveaddressId"    column="receiveaddress_id"    />
        <result property="salemanId"    column="saleman_id"    />
        <result property="province"    column="province"    />
        <result property="provinceName"    column="province_name"    />
        <result property="city"    column="city"    />
        <result property="cityName"    column="city_name"    />
        <result property="county"    column="county"    />
        <result property="countyName"    column="county_name"    />
        <result property="town"    column="town"    />
        <result property="townName"    column="town_name"    />
        <result property="receiveName"    column="receive_name"    />
        <result property="receivePhone"    column="receive_phone"    />
        <result property="receiveAddress"    column="receive_address"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectReceiveAddressInfoVo">
        select receiveaddress_id, saleman_id, province, province_name, city, city_name, county, county_name, town, town_name, receive_name, receive_phone, receive_address, status, create_time, update_time from rzx_receive_address_info
    </sql>

    <select id="selectReceiveAddressInfoList" parameterType="ReceiveAddressInfo" resultMap="ReceiveAddressInfoResult">
        <include refid="selectReceiveAddressInfoVo"/>
        <where>
            <if test="salemanId != null  and salemanId != ''"> and saleman_id = #{salemanId}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="provinceName != null  and provinceName != ''"> and province_name like concat('%', #{provinceName}, '%')</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="cityName != null  and cityName != ''"> and city_name like concat('%', #{cityName}, '%')</if>
            <if test="county != null  and county != ''"> and county = #{county}</if>
            <if test="countyName != null  and countyName != ''"> and county_name like concat('%', #{countyName}, '%')</if>
            <if test="town != null  and town != ''"> and town = #{town}</if>
            <if test="townName != null  and townName != ''"> and town_name like concat('%', #{townName}, '%')</if>
            <if test="receiveName != null  and receiveName != ''"> and receive_name like concat('%', #{receiveName}, '%')</if>
            <if test="receivePhone != null  and receivePhone != ''"> and receive_phone = #{receivePhone}</if>
            <if test="receiveAddress != null  and receiveAddress != ''"> and receive_address = #{receiveAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectReceiveAddressInfoById" parameterType="String" resultMap="ReceiveAddressInfoResult">
        <include refid="selectReceiveAddressInfoVo"/>
        where receiveaddress_id = #{receiveaddressId}
    </select>


    <update id="updateReceiveAddressInfo" parameterType="ReceiveAddressInfo">
        update rzx_receive_address_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="salemanId != null">saleman_id = #{salemanId},</if>
            <if test="province != null">province = #{province},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="city != null">city = #{city},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="county != null">county = #{county},</if>
            <if test="countyName != null">county_name = #{countyName},</if>
            <if test="town != null">town = #{town},</if>
            <if test="townName != null">town_name = #{townName},</if>
            <if test="receiveName != null">receive_name = #{receiveName},</if>
            <if test="receivePhone != null">receive_phone = #{receivePhone},</if>
            <if test="receiveAddress != null">receive_address = #{receiveAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where receiveaddress_id = #{receiveaddressId}
    </update>

    <delete id="deleteReceiveAddressInfoById" parameterType="String">
        delete from rzx_receive_address_info where receiveaddress_id = #{receiveaddressId}
    </delete>

    <delete id="deleteReceiveAddressInfoByIds" parameterType="String">
        delete from rzx_receive_address_info where receiveaddress_id in
        <foreach item="receiveaddressId" collection="array" open="(" separator="," close=")">
            #{receiveaddressId}
        </foreach>
    </delete>
</mapper>
